[submodule "submodules/vcpkg"]
	path = submodules/vcpkg
	url = https://github.com/Microsoft/vcpkg
[submodule "submodules/research"]
	path = submodules/research
	url = https://github.com/zmoote/umgebung-research.git
